<h2>Books List</h2>

<ul class="books">
  <li *ngFor="let book of books">
    <img src="{{book.immage}}" style="width:150px;height:200px;">
    <a routerLink="/detail/{{book.id}}">
        <span class="badge">{{book.id}}</span> 
  {{book.name}}
    </a>
    <button class="delete" title="delete book"
  (click)="delete(book)">x</button>
  <br>
  </li>
</ul>

<div>
  <label for="new-book">Book name: </label>
  <input id="new-book" #bookName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(bookName.value); bookName.value=''">
    Add book
  </button>
</div>

<!--<div *ngIf="selectedBook">

<h2>{{selectedBook.name | uppercase}} Details</h2>
<div><span>id: </span>{{selectedBook.id}}</div>
<div>
  <label for="book-name">Book name: </label>
  <input id="book-name" [(ngModel)]="selectedBook.name" placeholder="name">
</div>

<div>
  <label for="book-price">Price: </label>
  <input id="book-price" [(ngModel)]="selectedBook.price" placeholder="price">
</div>

<div>
  <label for="book-author">Author: </label>
  <input id="book-author" [(ngModel)]="selectedBook.author" placeholder="author">
</div>

<div>
  <label for="book-page">Page: </label>
  <input id="book-page" [(ngModel)]="selectedBook.page" placeholder="page">
</div>
</div>-->