<div *ngIf="book">

<h2>{{book.name | uppercase}} Details</h2>
<div><span>id: </span>{{book.id}}</div>
<div>
  <label for="book-name">Book name: </label>
  <input id="book-name" [(ngModel)]="book.name" placeholder="name">
</div>

<div>
  <label for="book-price">Price: </label>
  <input id="book-price" [(ngModel)]="book.price" placeholder="price">
</div>

<div>
  <label for="book-author">Author: </label>
  <input id="book-author" [(ngModel)]="book.author" placeholder="author">
</div>

<div>
  <label for="book-page">Page: </label>
  <input id="book-page" [(ngModel)]="book.page" placeholder="page">
</div>

<div>
  <label for="book-immage">Immage Url: </label>
  <input id="book-immage" [(ngModel)]="book.immage" placeholder="immage">
</div>
<img src="{{book.immage}}" style="width:150px;height:200px;">

</div>

<button (click)="save()">save</button>
<button (click)="goBack()">go back</button>